<h1>Blog List
    <small>
        <a href="#" ng-click="changeCol(2)">Change</a>
    </small>
</h1>

<div class="col-sm-6">
    <input type="text" ng-model="query" class="form-control" placeholder="Filter">
</div>

<span ng-if="items.length == 0">Posts coming soon</span>

<div class="row" ng-repeat="items in colItems">{{ items }}</div>


<div class="row">
    <div class="{{cssClass}}" ng-repeat="post in items">
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>{{ post.title }}</h3>
                <p>{{ post.text }} {{ post.publishDate }}</p>
                <p>
                    <a class="btn btn-primary" ng-href="/blog/{{ post.id }}" confirm-click="Are you ready?" confirmed-click="goToPost(post)">
                        View </a>
                </p>
            </div>
        </div>
    </div>
</div>