<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Try AngularJS 1.5</title>
    <script src="./js/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 class="new-class" ng-class="{'other-class': name=='Stephen'}">Hello,
        <span ng-if="name">{{ name }}</span>
        <span ng-if="!name">World</span>!
    </h1>
    <input type="text" ng-model="name">
</body>

</html>